<div class="center">
  <h1>Jake Serok</h1>
  <h2>Aspiring Software Developer</h2>
  <h3>Professional Problem Solver</h3>
  <p style="margin-top:2rem;">
    Since early 2019, I have been studying to become a software developer. 
    From general networking and hardware knowledge to configuring API's in Rails. 
    I enjoy all things technology and am eager to learn more, and do more. 
  </p>
  <p>
    In my current job I work with alot of SQL. When I'm not working with SQL, I setup reports 
    using PHP. Troubleshooting bugs or helping clients understand what their needs are, 
    are also a strength I posess. 
  </p>
</div>
<div style="position:absolute;bottom:5px;left:50%;">
  <h5>
    Find the repo for this site <%= link_to 'here', 'https://github.com/jakeserok/portfolio' %>
  </h5>
</div>