<div class="center">
  <h1>Home</h1>
  <p>
    As an aspiring software developer...
  </p>
</div>
<div style="position:absolute;bottom:5px;left:50%;">
  <h5>
    Find the repo for this site <%= link_to 'here', 'https://github.com/jakeserok/portfolio' %>
  </h5>
</div>