<h1 class="center">My Projects</h1>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card-body">
      <span>
        <h3><%= link_to project.name, project.app %></h3>
      </span>
      <h5>Git Hub repository: <%= link_to project.repo, project.repo %></h5>
      <p style="padding: 0.5rem 1rem;">
        <%= project.description %>
      </p>
    </div>
  </div>
  <br/>
<% end %>