<h2 class="center">My Projects</h2>

<% @projects.each do |project| %>
  <div class="card" style="margin-bottom:4px;">
    <div class="card-header">
      <span>
        <h3><%= link_to project.name, project.app %></h3>
      </span>
      <h5>Git Hub repository: <%= link_to project.repo, project.repo %></h5>
    </div>
    <div class="card-body">
      <p>
        <%= project.description %>
      </p>
    </div>
  </div>
<% end %>