<h1 class="center">My Projects</h1>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card-body">
      <span>
<<<<<<< HEAD
        <h4><%= link_to project.name, project_path(project) %></h4>
      </span>
=======
        <h3><%= link_to project.name, project.app %></h3>
      </span>
      <h5>Git Hub repository: <%= link_to project.repo, project.repo %></h5>
>>>>>>> 400b6e79d4db714244a3e28273b49086173874b9
      <p style="padding: 0.5rem 1rem;">
        <%= project.description %>
      </p>
    </div>
  </div>
  <br/>
<% end %>