<h1 class="center">My Projects</h1>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card-body">
      <span>
        <%= link_to project.name, project_path(project) %>
      </span>
    </div>
  </div>
  <br/>
<% end %>