/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
 }

 body {
   min-height: 100vh;
   background-color: #fff;
 }

 .name {
   color: white;
   padding: 0 0 0 20%;
  }

 .navbar {
   width: 250px;
   height: 100%;
   position: fixed;
   /* margin-left: -300px; */
   background-color: #0e0eee;
   /* border: 1px solid green; */
 }

 .nav-link {
   font-size: 1.5rem;
 }

 .nav-link:active,
 .nav-link:focus,
 .nav-link:hover {
  background-color: #3030f5;
 }

 .links {
  text-decoration: none;
 }

 .navigation-outer {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #363636;
  color: white;
  /* border: 1px solid red; */
}

.center {
  text-align: center;
  padding: 0.5rem;
}

.icon {
  width: 40px;
  height: auto;
}

.icon-btm-lf {
  position: absolute;
  left: 45px;
  bottom: 30px;
}

.icon-btm-rt {
  position: absolute;
  left: 120px;
  bottom: 30px;
}

.card {
  color: black;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f1f1f1;
  margin: 15px 0;
  width: 48%;
}

.skill-bar {
  height: 6px;
  background: gray;
  border-radius: 3px;
  max-width: 80%;
  margin: 12px 0 0 2rem;
}

.skill-1, .skill-2, .skill-3, .skill-4, .skill-5, .skill-6 {
  height: 6px;
  background: #22ce8c;
  border-radius: 3px;
  position: relative;
  box-shadow: inset 2px 2px 5px rgba(0 0 0 0.9);
}

.skill-1::before, .skill-2::before, .skill-3::before, .skill-4::before, 
.skill-5::before, .skill-6::before {
  content: attr(per);
  position: absolute;
  padding: 2px 4px;
  color: white;
  font-weight: bolder;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-1 {
  width: 75%;
}

.skill-2 {
  width: 65%;
}

.skill-3 {
  width: 40%;
}

.skill-4 {
  width: 50%;
}

.skill-5 {
  width: 60%;
}

.skill-6 {
  width: 60%;
}
